.motowork-item-page {
  &__header {
    display: flex;
    justify-content: space-between;

    h2 {
      color: #000;

      /* Desktop/Headings/H3 */
      font-family: Play;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 40px */
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    &--search-and-filter {
      display: flex;
      gap: 12px;

      .q-field {
        min-width: 400px;

        @media (max-width: 991px) {
          min-width: 260px;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      .q-btn,
      button {
        height: 56px;
        width: 56px;

        @media (max-width: 767px) {
          height: 30px !important;
          width: 30px !important;
        }
      }
    }
  }

  &__grid {
    display: flex;
    width: 100%;
    margin-top: 32px;
    gap: 16px;

    &--items {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      &__product {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        transition: all 0.1s ease-out;

        figure {
          aspect-ratio: 1/1;
          width: 100%;
          height: 296px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .overflow {
            display: none;
            background: rgba(237, 28, 36, 0.8);
            position: absolute;
            top: 0;
            width: 100%;
            cursor: pointer;
            height: 100%;
            justify-content: center;
            align-items: center;

            .q-btn {
              height: 39px;
            }
          }

          @media (max-width: 1260px) {
            height: 220px;
          }

          @media (max-width: 1090px) {
            height: 180px;
          }

          @media (max-width: 991px) {
            height: 260px;
          }

          @media (max-width: 850px) {
            height: 210px;
          }

          @media (max-width: 850px) {
            height: 210px;
          }

          @media (min-width: 1601px) {
            height: 340px;
          }

          @media (max-width: 550px) {
            height: 128px;
          }
        }

        &--content {
          padding: 12px;
          display: flex;
          flex-direction: column;

          h2 {
            color: #ed1c24;

            /* Desktop/Body/Text/Small */
            font-family: Ubuntu;
            font-size: 12pt;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; /* 15px */

            @media (max-width: 767px) {
              font-size: 9pt;
            }
          }

          h3 {
            margin-top: 4px;
            color: #000;

            /* Desktop/Body/Title/Medium */
            font-family: Play;
            font-size: 14pt;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 20px */
            text-transform: uppercase;

            @media (max-width: 767px) {
              font-size: 12pt;
            }
          }

          &__price {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            align-items: center;

            &--label {
              color: #000;

              /* Desktop/Body/Title/Small */
              font-family: Play;
              font-size: 12pt;
              font-style: normal;
              font-weight: 400;
              line-height: 125%; /* 15px */
              text-transform: uppercase;

              @media (max-width: 767px) {
                font-size: 9pt;
              }
            }

            &--amount {
              color: #000;
              text-align: right;

              /* Desktop/Body/Title/Medium */
              font-family: Play;
              font-size: 16pt;
              font-style: normal;
              font-weight: 700;
              line-height: 125%; /* 20px */
              text-transform: uppercase;

              @media (max-width: 767px) {
                font-size: 12pt;
              }
            }

            @media (max-width: 767px) {
              margin-top: 15px;
            }
          }
        }

        &:hover {
          figure {
            .overflow {
              display: flex;

              @media (max-width: 767px) {
                display: none;
              }
            }
          }
        }

        @media (max-width: 991px) {
          flex: 1 1 calc(50% - 20px);
          max-width: calc(50% - 20px);
        }

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    &--filters {
      flex: 1;
      max-width: 360px;
      display: flex;
      flex-direction: column;

      &__section {
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #e3e3e3;

        h3 {
          color: #000;

          /* Desktop/Body/Title/Medium */
          font-family: Play;
          font-size: 16pt;
          font-style: normal;
          font-weight: 700;
          line-height: 125%; /* 20px */
          text-transform: uppercase;

          @media (max-width: 767px) {
            font-size: 12pt;
          }
        }

        ul,
        input {
          list-style: none;
          margin: 0px;
          margin-top: 12px;

          li {
            .q-btn {
              color: #000;

              /* Desktop/Body/Text/Medium */
              font-family: Ubuntu;
              font-size: 14pt;
              font-style: normal;
              font-weight: 400;
              line-height: 125%; /* 20px */
              margin: 0px;
              padding: 0px;

              @media (max-width: 767px) {
                font-size: 12pt;
              }
            }

            :hover {
              color: #ed1c24;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      margin-top: 24px;
    }
  }

  &__paginator-label {
    margin-top: 32px;

    h2 {
      color: #9f9c9c;

      /* Desktop/Body/Title/Medium */
      font-family: Play;
      font-size: 16pt;
      font-style: normal;
      font-weight: 400;
      line-height: 125%; /* 20px */
      text-transform: uppercase;
    }

    @media (max-width: 767px) {
      h2 {
        margin-top: 24px;
        font-size: 12pt;
      }
    }
  }

  &__paginator {
    margin-top: 32px;

    .q-pagination {
      display: flex !important;
      gap: 8px !important;
      button {
        min-width: 40px !important;
        height: 40px;
        margin-left: 0px;
        border-radius: 0px;
      }
    }
  }

  &__all-brands {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;

    &--item {
      position: relative;

      figure {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        cursor: pointer;

        img {
          max-width: 160px;
          height: 100px;
          border-radius: 10px;
          object-fit: contain;

          @media (width < 768px) {
            max-width: 100px;
            height: 60px;
          }
        }

        p {
          margin-top: 4px;
          color: #000;
          font-family: Play;
          font-size: 14pt;
          font-style: normal;
          font-weight: 700;
          line-height: 125%;
          text-align: center;
          text-transform: uppercase;
        }
      }

      &:hover {
        .motowork-item-page__all-brands--item__overlay {
          background: rgba(237, 28, 36, 0.8);
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        transition: all 0.1s ease-out;
        transform: scale(1.03);
      }
    }

    @media (width < 1050px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
}
