.motowork-item-page {
  &__header {
    display: flex;
    justify-content: space-between;

    h2 {
      color: #000;

      /* Desktop/Headings/H3 */
      font-family: Play;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%; /* 40px */
      text-transform: uppercase;
    }

    &--search-and-filter {
      display: flex;
      gap: 12px;

      .q-field {
        min-width: 400px;

        @media (max-width: 991px) {
          min-width: 260px;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  &__grid {
    display: flex;
    width: 100%;
    margin-top: 32px;
    gap: 16px;

    &--items {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      &__product {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);

        figure {
          aspect-ratio: 1/1;
          width: 100%;
          height: 296px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .overflow {
            display: none;
            background: rgba(237, 28, 36, 0.80);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            .q-btn {
              height: 39px;
            }
          }

          @media(max-width: 1260px) {
            height: 220px;
          }

          @media(max-width: 1090px) {
            height: 180px;
          }

          @media (max-width: 991px) {
            height: 260px;
          }

          @media (max-width: 850px) {
            height: 210px;
          }

          @media (max-width: 850PX) {
            height: 210px;
          }

          @media(min-width: 1601px) {
            height: 380px;
          }
        }

        &--content {
          padding: 12px;
          display: flex;
          flex-direction: column;

          h2 {
            color: #ed1c24;

            /* Desktop/Body/Text/Small */
            font-family: Ubuntu;
            font-size: 12pt;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; /* 15px */
          }

          h3 {
            margin-top: 4px;
            color: #000;

            /* Desktop/Body/Title/Medium */
            font-family: Play;
            font-size: 14pt;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 20px */
            text-transform: uppercase;
          }

          &__price {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            align-items: center;

            &--label {
              color: #000;

              /* Desktop/Body/Title/Small */
              font-family: Play;
              font-size: 12pt;
              font-style: normal;
              font-weight: 400;
              line-height: 125%; /* 15px */
              text-transform: uppercase;
            }

            &--amount {
              color: #000;
              text-align: right;

              /* Desktop/Body/Title/Medium */
              font-family: Play;
              font-size: 16pt;
              font-style: normal;
              font-weight: 700;
              line-height: 125%; /* 20px */
              text-transform: uppercase;
            }
          }
        }

        &:hover {
          figure {
            .overflow {
              display: flex;
            }
          }
        }

        @media (max-width: 991px) {
          flex: 1 1 calc(50% - 20px);
          max-width: calc(50% - 20px);
        }
      }
    }

    &--filters {
      flex: 1;
      max-width: 360px;
      display: flex;
      flex-direction: column;

      &__section {
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #E3E3E3;

        h3 {
          color: #000;

          /* Desktop/Body/Title/Medium */
          font-family: Play;
          font-size: 16pt;
          font-style: normal;
          font-weight: 700;
          line-height: 125%; /* 20px */
          text-transform: uppercase;
        }

        ul, input {
          list-style: none;
          margin: 0px;
          margin-top: 12px;

          li {
            .q-btn {
              color: #000;

              /* Desktop/Body/Text/Medium */
              font-family: Ubuntu;
              font-size: 14pt;
              font-style: normal;
              font-weight: 400;
              line-height: 125%; /* 20px */
              margin: 0px;
              padding: 0px;
            }

            :hover {
              color: #ED1C24;
            }
          }
        }
      }
    }
  }

  &__paginator-label {
    margin-top: 32px;

    h2 {
      color: #9F9C9C;

      /* Desktop/Body/Title/Medium */
      font-family: Play;
      font-size: 16pt;
      font-style: normal;
      font-weight: 400;
      line-height: 125%; /* 20px */
      text-transform: uppercase;
    }
  }

  &__paginator {
    margin-top: 32px;

    .q-pagination {
      display: flex !important;
      gap: 8px !important;
      button {
        min-width: 40px !important;
        height: 40px;
        margin-left: 0px;
        border-radius: 0px;
      }
    }
  }
}
